@model IEnumerable<PostValidation>
@{
    ViewData["Title"] = "Home Page";
}

<!--dropdown list-->
<div style="background: none; padding-bottom: 1vh; position: fixed; top: 1vh; right: 3vh; border: none; width: 20vh; height: 5vh; z-index: 3;">
    <button id="nav-dropdown-btn" style="background: transparent; border: none; color: black; padding: 10px; z-index: 3; cursor: pointer; margin: 0 auto; width: 100%; height: 5vh; text-align: center;">
        Settings
    </button>

    <ul id="nav-dropdown" style="position: relative; top: 0; list-style: none; width: 100%; text-align: center; background: #525453;
        border: #525453 1px solid; border-radius: 5px; padding: 5px; visibility: hidden;">
        <li style="width: 100%; background-color: #525453; border: none; padding: 10px;">
            <a class="text-white" style="cursor: pointer;" asp-controller="Home" asp-action="LogUserOut">Log out</a>
        </li>
    </ul>
    
</div>

<div class="row my-1">

    <div class="container mb-1 justify-content-center" style="width: 40%;">
        <a class="btn btn-primary btn-block p-1" asp-controller="Home" asp-action="RedirectToAdd">Add Post</a>
    </div>

    <h1 class="col-sm-12 text-center text-primary">Posts</h1>
</div>

@if (Model != null)
{
    @if(Model.Count() > 0)
    {
        <!--each post gets rendered here-->
        @for(int deleteIdx = 0; deleteIdx < Model.Count(); deleteIdx++)
        {
            <div class="container mt-3" style="box-shadow: 1px 1px 1px 1px #888; border: none; border-radius: 5px; padding: 0;">
                
                <div style="width: 100%; margin: 0; padding: 0; background: aqua; border: none; border-radius: 5px 5px 0 0; overflow: hidden; display: flex;">
                    <a class="btn btn-danger" style="z-index: 1; color: white; position: relative; top: 0; left: 0; overflow: hidden; border: none; border-radius: 5px; width: 10%; margin: 0;"
                        asp-controller="Home" asp-action="DeletePost" asp-route-deleteIdx="@deleteIdx">
                        &times;
                    </a>
                    <h3 style="position: relative; top: 0; width: 80%; color: black; text-align: center; margin: 0;">@Model.ElementAt(deleteIdx).Title</h3>
                    <a class="btn btn-primary" style="z-index: 1; width: 10%; color: white; position: relative; top: 0; right: 0; overflow: hidden; border: none; border-radius: 5px; margin: 0;"
                        asp-controller="Home" asp-action="RedirectToDetails" asp-route-i="@deleteIdx">
                        Edit
                    </a>
                </div>
                    
                    
                <article style="color: black; width: 100%; text-align: center;" class="my-1">@Model.ElementAt(deleteIdx).Body</article>
            </div>
        }

        <!--pagination-->
        <nav class="container" style="position: fixed; bottom: 10vh; width: 100%;">
            <ul style="display: flex; width: 100%; justify-content: center;">
                @for (int i = 0; i < Model.First().PageCount; i++)
                {
                    @if (i == Model.First().IdxInList)
                    {
                        <li class="p-1" style="background-color: white; color: blue; cursor: pointer; margin: 0;">
                            <a asp-controller="Home" asp-action="ChangePage"
                               asp-route-i="@(i + 1)">@(i + 1)</a>
                        </li>
                    }
                    else
                    {
                        <li class="p-1 bg-primary" style="color: white; cursor: pointer; margin: 0;">
                            <a asp-controller="Home" asp-action="ChangePage"
                               asp-route-i="@(i + 1)">@(i + 1)</a>
                        </li>
                    }
                }
            </ul>
        </nav>

        
    }
}